@model CLDV6211POE_Part1.Models.Booking

@{
    ViewData["Title"] = "Booking Details";
}

<h1>Booking Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Event</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Event.Name)</dd>
        <dt class="col-sm-3">Venue</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Venue.Name)</dd>
        <dt class="col-sm-3">Booking Date</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.BookingDate)</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
